package ${request.package}.bean.bs;

import java.io.Serializable;
#if ($table.hasRefColumn)
import ${request.package}.bean.ex.*;
#end

/**
 * ${table.comment}
 * @author FreeGen
 */
public class Bs${table.camelizedName} implements Serializable {

    private static final long serialVersionUID = 1L;

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
#foreach ($column in $table.columnList)
#if ($column.isNormalColumn)
#set ($javaNative = ${column.type})
#elseif ($column.isRefColumn)
#set ($javaNative = ${column.camelizedName})
#end
    /** ${column.name}: ${column.comment} */
    protected ${javaNative} ${column.uncapCamelName};

#end
    // [Referrers] *comment only
#foreach ($referrer in $table.referrerList)
    // o ${referrer.name}
#end

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
#foreach ($column in $table.columnList)
#if ($column.isNormalColumn)
#set ($javaNative = ${column.type})
#elseif ($column.isRefColumn)
#set ($javaNative = ${column.camelizedName})
#end
    public ${javaNative} get${column.capCamelName}() {
        return ${column.uncapCamelName};
    }

    public void set${column.capCamelName}(${javaNative} value) {
        ${column.uncapCamelName} = value;
    }

#end
}
